#top-carousel{
    width:100vw;
}
#top-carousel img{

}
#top-carousel-carousel{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    left:0;
    margin:0;
}
#top-carousel-carousel .active{
    width:auto;
    height:auto;
    padding:0;
    margin:0;
    background:transparent;
}
#top-carousel-carousel div{
    margin-left:5px;
    border:2px solid transparent;
}
#top-carousel-carousel div.active{
    border:2px solid green;
    margin-left:5px;
}
#top-carousel-carousel div img{
    width:100%;
    display:block;
}
*{box-sizing: border-box;margin:0;padding:0;}
p{margin:0}
main{
    margin:0 auto;
}
section{
    border:1px solid white;
}
.icon-rmxf{
    display:inline-block;
    width: 33px;
    height: 35px;
    background: url(../Images/qy-dm-pageImg.png);
    background-position: -80px -160px;
}
#tf-home{

}

@media (min-width: 1500px){
    .big-wrapper{
        width:430px;
        border:1px solid white;
        font-size:18px;
    }
    .small-wrapper{
        margin-left:7px;
        border:1px solid white;
        width:210px;
    }
    .small-wrapper>div>div{
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        background:rgba(255,255,255,0.3)
    }
    main{
        width:1300px;
    }
    .rmxf>div>ul{
        display:flex;
    }
    .rmxf>div>ul>ul{
        display:flex;
        width:880px;
        flex-wrap: wrap;
    }
    .rmxf>div>ul>ul>li:nth-child(1),.rmxf>div>ul>ul>li:nth-child(2),.rmxf>div>ul>ul>li:nth-child(3),.rmxf>div>ul>ul>li:nth-child(4){
        margin-bottom:5px;
    }
    .ul-sec>li:nth-child(1){
        margin-left:0px;
    }
}

/* @media (max-width: 1500px) and (min-width:1250px){
    .big-wrapper{
        width:430px;
        border:1px solid white;
        font-size:18px;
    }
    .small-wrapper{
        margin-left:7px;
        border:1px solid white;
        width:210px;
    }
    .small-wrapper>div>div{
        text-overflow: ellipsis;
        white-space: nowrap; 
        overflow: hidden;
        background:rgba(255,255,255,0.3)
    }
    main{
        width:1300px;
    }
    .rmxf>div>ul{
        display:flex;
    }
    .rmxf>div>ul>ul{
        display:flex;
        width:880px;
        flex-wrap: wrap;
    }
    .rmxf>div>ul>ul>li:nth-child(1),.rmxf>div>ul>ul>li:nth-child(2),.rmxf>div>ul>ul>li:nth-child(3),.rmxf>div>ul>ul>li:nth-child(4){
        margin-bottom:5px;
    }
    .ul-sec>li:nth-child(6),.rmxf>div>ul>ul>li:nth-child(7),.rmxf>div>ul>ul>li:nth-child(8){
        display:none;
    }

    .ul-sec>li:nth-child(1){
        margin-left:0px;
    }
} */