#top-carousel{
    width:100vw;
}
#top-carousel img{

}
#top-carousel-carousel{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    left:0;
    margin:0;
}
#top-carousel-carousel .active{
    width:auto;
    height:auto;
    padding:0;
    margin:0;
    background:transparent;
}
#top-carousel-carousel div{
    margin-left:5px;
    border:2px solid transparent;
}
#top-carousel-carousel div.active{
    border:2px solid green;
    margin-left:5px;
}
#top-carousel-carousel div img{
    width:100%;
    display:block;
}
*{box-sizing: border-box;}